@import "tailwindcss";
@plugin "daisyui";


html, body {
  background-color: white !important;
  color: black;
}
input {
  background-color: white;
}

.btn-primary{
  @apply w-full text-sm bg-primary text-white p-2 rounded m-1 hover:bg-blue-500
}

